@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightseagreen;
  font-family: "Roboto", sans-serif;
}

main {
  min-height: 100vh;
}

nav {
  background-color: antiquewhite;
}

.borderedondeado {
  border-radius: 50%;
  border-color: white;
}

/*Títulos*/
h2 {
  color: antiquewhite;
  font-size: 30px;
  text-align: center;
  word-spacing: 5px;
}

h1 {
  background-color: #0b2a36;
  color: whitesmoke;
  text-align: center;
  letter-spacing: 5px;
  padding: 15px;
  width: 100%;
}

h3 {
  color: antiquewhite;
  letter-spacing: 5px;
  text-align: center;
}

h4 {
  color: bisque;
  letter-spacing: 5px;
  text-align: center;
}

/* Formulario Mi reserva*/
.formureserva {
  background-color: teal;
  opacity: 0.9;
  color: antiquewhite;
  margin: auto;
  width: 500px;
  padding: 30px;
}

/*Footer*/
footer {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  background-color: teal;
  padding: 1rem;
  width: 95%;
  height: 100px;
  color: whitesmoke;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
footer .redes {
  color: #8d8c86;
  margin-left: 1.5;
  width: 2rem;
  display: flex;
}
footer .redes img {
  width: 2.5rem;
}
footer .autor {
  font-weight: bold;
}

/*carrusell*/
.textocolor {
  color: whitesmoke;
}

.banner-area2 {
  background-image: url(../imagenes/checkin2.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 60rem;
}

main .box1 {
  padding: 1rem;
  margin: 1rem;
  background-color: darkorange;
  width: 1800px;
}
main .box2 {
  padding: 1rem;
  margin: 1rem;
  background-color: darkorange;
  width: 450px;
}
main .box3 {
  padding: 1rem;
  margin: 1rem;
  background-color: darkorange;
  width: 1350px;
}
main .box4 {
  padding: 1rem;
  margin: 1rem;
  background-color: darkorange;
  width: 1000px;
}
main .box5 {
  padding: 1rem;
  margin: 1rem;
  background-color: darkorange;
  width: 2700px;
}
main .box6 {
  padding: 1rem;
  margin: 1rem;
  background-color: darkorange;
  width: 300px;
}

.banner-area3 {
  background-image: url(../imagenes/cielo1.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 60rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightseagreen;
  font-family: "Roboto", sans-serif;
}

main {
  min-height: 100vh;
}

nav {
  background-color: antiquewhite;
}

.borderedondeado {
  border-radius: 50%;
  border-color: white;
}

/*Títulos*/
h2 {
  color: antiquewhite;
  font-size: 30px;
  text-align: center;
  word-spacing: 5px;
}

h1 {
  background-color: #0b2a36;
  color: whitesmoke;
  text-align: center;
  letter-spacing: 5px;
  padding: 15px;
  width: 100%;
}

h3 {
  color: antiquewhite;
  letter-spacing: 5px;
  text-align: center;
}

h4 {
  color: bisque;
  letter-spacing: 5px;
  text-align: center;
}

/* Formulario Mi reserva*/
.formureserva {
  background-color: teal;
  opacity: 0.9;
  color: antiquewhite;
  margin: auto;
  width: 500px;
  padding: 30px;
}

/*Footer*/
footer {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  background-color: teal;
  padding: 1rem;
  width: 95%;
  height: 100px;
  color: whitesmoke;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
footer .redes {
  color: #8d8c86;
  margin-left: 1.5;
  width: 2rem;
  display: flex;
}
footer .redes img {
  width: 2.5rem;
}
footer .autor {
  font-weight: bold;
}

/*carrusell*/
.textocolor {
  color: whitesmoke;
}

main .textomascota {
  background-color: #12203e;
  color: white;
}
main .textomascota1 {
  background-color: #531068;
  color: goldenrod;
}

.mascota {
  float: left;
  padding: 20px;
}
.mascota:hover {
  transform: scale(1.5, 1.5);
}

.caja, .caja .cajaNegra, .caja .cajaRoja {
  border-style: double;
  width: 80%;
  height: 450px;
  margin: 10px;
  padding: 15px;
  display: flex;
}
.caja .cajaRoja {
  border: 5px red solid;
  background-color: coral;
}
.caja .cajaNegra {
  border: 5px black solid;
  background-color: burlywood;
}

.main .conteiner-fluid {
  padding: 40px;
  margin: 20px;
}
.main .col-12 {
  margin: 20px;
}
.main .carrion {
  float: left;
  padding: 20px;
}
.main .articulos {
  padding: 20px;
  border: double;
}

.banner-area4 {
  background-image: url(../imagenes/bagmano2.jpeg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 25rem;
}

.main-servicios {
  width: 90%;
  max-width: 100vw;
  margin: 10px auto;
  padding: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "Hotel Auto asis" "crucero universal disney";
  -moz-column-gap: 20px;
  column-gap: 20px;
  background-color: #063041;
  justify-items: center;
}
.main-servicios .reserva {
  width: 400px;
  height: 32vh;
  border-radius: 15px;
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 30px;
}
.main-servicios .reserva .Hotel {
  background-color: whitesmoke;
  grid-area: Hotel;
}
.main-servicios .reserva .Auto {
  background-color: whitesmoke;
  grid-area: Auto;
}
.main-servicios .reserva .asis {
  background-color: whitesmoke;
  grid-area: asis;
}
.main-servicios .reserva .disney {
  background-color: whitesmoke;
  grid-area: disney;
}
.main-servicios .reserva .crucero {
  background-color: whitesmoke;
  grid-area: crucero;
}
.main-servicios .reserva .universal {
  background-color: whitesmoke;
  grid-area: universal;
}

/* Formulario Mi reserva*/
.formureserva {
  background-color: teal;
  opacity: 0.9;
  color: antiquewhite;
  margin: auto;
  width: 500px;
  padding: 30px;
}

.banner-area3 {
  background-image: url(../imagenes/cielo1.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 60rem;
}

/*Formulario Index*/
.main .formulario {
  color: whitesmoke;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border: black;
  background-position: center;
  padding: 1.2rem;
  width: 800px;
  margin: 0 auto;
}

.formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
  line-height: 3rem;
  background-color: teal;
  opacity: 0.6;
  font-weight: bold;
  font-size: 1.4rem;
  width: 500px;
}

/*Imagenes Promociones Pagina Inicial*/
.imagenes {
  background-color: darkslategray;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 50px;
}
.imagenes .contenido {
  position: relative;
  display: inline-block;
  padding: 10px;
}
.imagenes .contenido:hover {
  transform: scale(1.5, 1.5);
}
.imagenes .contenido .text {
  position: absolute;
  font-size: 22px;
  color: whitesmoke;
}
.imagenes .contenido .text.text1 {
  top: 10px;
  left: 10px;
}
.imagenes .contenido .text.text2 {
  top: 80%;
  right: 10%;
}