
.banner-area2 {
    background-image: url(../imagenes/checkin2.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 60rem;
  }