@mixin espaciado {
  padding: 1rem;
  margin: 1rem;
}

main {
  .box {
    @include espaciado();
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    padding: 5px;
    margin: 5px;
  }
}
