.banner-area3 {
  background-image: url(../imagenes/cielo1.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 40rem;
}
