@import "compartido";

main {
  .textomascota {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
  }
  .textomascota1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
  }
}
.mascota {
  float: left;
  padding: 20px;
  &:hover {
    transform: scale(1.5, 1.5);
  }
}
.caja {
  width: 100%;
  padding: 5px;
  display: flex;

  .cajaRoja {
    @extend .caja;
    border: 5px black solid;
    background-color: #21d190;
    background-image: linear-gradient(315deg, #21d190 0%, #d65bca 74%);
  }
  .cajaNegra {
    @extend .caja;
    border: 5px black solid;
    background-color: #21d190;
    background-image: linear-gradient(315deg, #21d190 0%, #d65bca 74%);
    margin-left: 10px;
  }
}
.autor {
  font-family: "Irish Grover", cursive;
  color: navy;
  font-size: 20px;
}
@media (max-width: 1023px) {
  .mascota {
    float: none;
    width: 100%;
  }
  .caja {
    flex-direction: column;
    margin-top: 5px;

    .cajaNegra {
      margin-left: 0;
    }
  }
}
