

/* Formulario Mi reserva*/
.formureserva {
  background-color: teal;
  opacity: 0.9;
  color: antiquewhite;
  margin: auto;
  width: 500px;
  padding: 30px;
}
.banner-area3 {
  background-image: url(../imagenes/cielo1.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 60rem;
}
